.dd
    position: relative
    display: flex
    flex-direction: column
   
   
    
.cc
    position: absolute
    top: 82%
.hh
    padding-top: 20px
    width: 90%
    display: flex
    flex-direction: column
    align-items: center
    gap: 20px
    padding-bottom: 30px
    p
        text-align: center
        font-size: 13px
     
        line-height: 22px
        padding-inline-start: 15px
        
.card-chef
    
    align-items: center
    background: white
    // border: 2px solid red
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    transition: 0.3s
   
  
.all-cards
    display: flex
    padding-inline: 5vw
    gap: 30px
    padding-top: 35px
.chefs
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center 
    padding-top: 40px
.title-chef
    
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 13px
// @media (max-width:430px)
//    .all-cards
//       flex-direction: column
     
